@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

body {
  background-color: rgb(199, 120, 56);
  color: rgb(66, 63, 58);
  text-align: center;
};

div h1 {
  font-family: 'Permanent Marker', cursive, serif; 
  font-size: 48px;
  text-shadow: 2px 2px 7px rgb(39, 39, 36);
  text-align: center;
};

div h2 {
  color: wheat;
  font-family: 'Permanent Marker', cursive, serif; 
  text-align: center;
};


div .fishframe img {
  border: 3px ridge rgb(56, 26, 2);
  width: 100px;
}

table .cookieSalesTable  {
  background: rgb(61, 59, 57);
  border: 1px solid black;
  border-radius: 15px;
  margin: 1em; 
  padding: 1em;
  text-align: center;
}


table .cookiesSalesTable tr td {
  background: rgb(61, 59, 57);
  border-radius: 15px;
  margin: 1em; 
  padding: 1em;
  text-align: right;
  text-decoration-color: beige;
}



table tr td {
  background-color: rgb(194, 192, 189);
  border-radius: 15px;
  font-size: 1.1em; 
  margin: .5em .5em; 
  padding: .5em .5em;
  text-align: right;
  
  text-decoration-color: beige;
}

 table tr td :hover {
    color: rgb(78, 76, 76);
  }


form .AddStore fieldset .New-Location {
  margin: 10 0;
}

div #numbox {
  width: 10px;
  margin: .75em;
}

 nav a {
  display: inline-block;
  margin: 1em; 
/*   padding: 1em;   */
}
